html, body {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #080e1c;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 600px;
  z-index: 1;
}

.header__sticky {
  position: sticky;
  top: 70px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__sticky__title {
  display: block;
  font-weight: 400;
  font-size: 20em;
  color: #F4FAFF;
}

.header__sticky__subtitle {
  display: block;
  font-weight: 400;
  font-size: 50px;
  color: #F4FAFF;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: -200px;
  background-position: top;
  background-image: linear-gradient(360deg, rgba(255,0,0,0) 50%, rgb(22, 41, 95));
  animation: gradient-wave 5s infinite;
}

@keyframes gradient-wave {
  60% {
    background-position: 100% 200px;
  }
}

.gap {
  width: 100vw;
  height: 40vh;
}

.bento-box {
  position: sticky;
  top: 100px;
  display: flex;
  height: 500px;
  width: 100vw;
  justify-content: center;
  column-gap: 20px;
  align-items: start;
}

.bento-box__left {
  position: relative;
  background-color: #F4FAFF;
  border-radius: 20px;
  height: 100%;
  width: 40vw;
  opacity: 0;
  top: 100px;
  left: -100px;
  padding: 30px;
}

.bento-box__left > p {
  font-size: 1.2em;
}

.bento-box__left__header {
  font-weight: 600;
  font-size: 3em;
}

.bento-box__left__subheader {
  font-size: 1.2em;
}

.bento-box__right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  width: 35vw;
  height: 100%;
}

.bento-box__right__top {
  position: relative;
  background-color: #F4FAFF;
  border-radius: 20px;
  padding: 30px;
  height: 70%;
  width: 100%;
  opacity: 0;
  right: -100px;
}

.bento-box__right__top > h2 {
  margin-bottom: 10px;
}

.bento-box__right__top > ul {
  list-style-type: none;
}

.bento-box__right__top > ul > li {
  display: flex;
  gap: 20px;
}

.bento-box__right__top > ul > li > div:first-child {
  width: 850px;
}

.bento-box__right__top > ul > li > div:nth-child(2) {
  overflow: scroll;
}

.bento-box__right__top > ul > li > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: end;
}

.bento-box__right__top > h2 {
  font-weight: 500;
  font-size: 1.5em;
}

.bento-box__right__bottom {
  display: flex;
  column-gap: 20px;
  position: relative;
  width: 100%;
  height: 30%;
}

.bento-box__right__bottom__left {
  position: relative;
  background-color: hsl(207, 100%, 98%);
  border-radius: 20px;
  height: 100%;
  padding: 30px;
  width: 50%;
  opacity: 0;
  top: 100px;
}

.bento-box__right__bottom__left > div {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  height: 50px;
  overflow-x: scroll;
  width: 100%;
}

.bento-box__right__bottom__right {
  position: relative;
  background-color: #F4FAFF;
  padding: 30px;
  border-radius: 20px;
  height: 100%;
  width: calc(50% + 60px);
  opacity: 0;
  top: 100px;
  right: -100px;
}

.bento-box__right__bottom__right > h2 {
  margin-bottom: 10px;
}

.bento-box__right__bottom__right > ul {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.bento-box__right__bottom__right > ul > li{
  width: 30px;
  height: 30px;
}

.arrow-button {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

h2 {
  font-weight: 500;
  font-size: 1.4em;
}

.blue {
  color: #4575F6;
}

.pill {
  background-color: #4575F6;
  padding: 3px 8px;
  text-align: center;
  border-radius: 8px;
  color: white;
  height: 30px;
}
